html{
	scroll-behavior:smooth;
}
.gotopbtn{
	position:fixed;
	width:50px;
	height:50px;
	background:#27ae60;
	bottom:40px;
	right:50px;
	z-index:2;
	text-decoration:none;
	text-align:center;
	line-height:50px;
	color:white;
	font-size:22px;
	
}
.slide-bottom{
	width:100%;
	background: rgba(0,0,0,.6);;
}
.dropdown-menu a:hover{
	background-color:#28a745!important;
}
.i-1{
	overflow:hidden;
}
.i-1 img{
	transition:transform 1s;
}
.i-1 img:hover{
	transform:scale(1.03);
}
.card{
	position:relative;
	overflow:hidden;
} 
.card:before{
	position:absolute;
	content:'';
	width:80%;
	height:220%;
	background: rgb(60, 179, 113,0.7);
	top:-50%;
	left:-100%;
	z-index:1;
	transform:rotate(25deg);
	transform-origin:center top 0;
	transition:.5s;
}
.card:hover:before{
	left:10%;
}
.card img{
	width:100%;
	height:auto;
}
.card-text{
	width:100%;
	padding:0 20px;
	position:absolute;
	top:-100%;
	color:#fff;
	left:0;
	z-index:2;
	transition:1.1s;
}
.card-text h3{
	font-family:poppins;
}
.card:hover .card-text{
	top:80px;
}
.h-title{
	font-family: 'Lobster', cursive;
}
* {
  box-sizing: border-box;
}
.gallery{
	margin:10px 50px;
}
.gallery img{
	transition:1s;
	width:400px;
	height:200px;
}
.gallery img:hover{
	filter:grayscale(100%);
	transform:scale(1.1);
}
.slide-img-1 {
	background-image: url("../images/slider-img.jpg");
	padding:70px;
	margin-top:90px;
	margin-bottom:40px;
}
.h-title-2 h1{
	font-family: 'Lobster', cursive;
}
.welcome-img{
	background-image: url("../images/welcome-bg.png");
	height:470px;
	margin-top:120px;
}
.feat-desc p{
	font-size:12px;	
}
.partner-block{
	background-image: url("../images/partner-bg.jpg");
}
.slider-about{
	background-image: url("../images/slider-about.jpg");	
}
.heading-t-our{
	font-family: 'Lobster', cursive;
}
.i-follow i{
	background-color:#2fc2ef;
}
.i-rss i{
	background-color:#3b5998;
}
.i-youtube i{
	background-color:#ae0e14;
}
.i-invision i{
	background-color:#006699;
}
.i-basketball i{
	background-color:#ea4c89;
}
.i-instagram i{
	background-color:#fb6405;
}
.perspiciatis{
	font-family: 'Lobster', cursive;
}
.slider-about-1{
	background-image: url("../images/your service.jpg");	
	background-repeat:no-repeat;
}
.protfolio-about-1{
	background-image: url("../images/Portfolio-img.jpg");
	background-repeat:no-repeat;
}
.hero{
	height:450px;
	width:100%;
	background-image:url(../images/sky.jpg);
	background-size:cover;
	background-position:center;
	position:relative;
	overflow-x:hidden;
}
.city{
	height:250px;
	width:300%;
	background-image:url(../images/city.png);	
	left:0;
	right:0;
	display:block;
	z-index:1;
	background-repeat:repeat-x;
	animation:city 20s linear infinite;
}
@keyframes city{
	
	100%{
		transform:translatex(-1400px);
	}
}
.car{
	width:400px;
	left:50%;
	transform:translatex(-50%);
	position:absolute;
	z-index:2;
}
.car img{
	width:100%;
	animation:car 1s linear infinite;
} 
@keyframes car{
	
	100%{
		transform:translatey(-1px);
	}
	50%{
		transform:translatey(1px);
	}
	0%{
		transform:translatey(-1px);
	}
	
}
.wheel{
	left:50%;
	transform:translatex(-50%);
	position:absolute;
	z-index:2;
}
.wheel img{
	margin-top:88px;
	width:72px;
	height:72px;
	animation:wheel 1s linear infinite;
}
.back-wheel{
	left:-165px;
	position:absolute;
}
.front-wheel{
	left:80px;
	position:absolute;
}
@keyframes wheel{
	
	100%{
		transform:rotate(360deg);
	}
}
.highway{
	height:200px;
	width:500%;
	display:block;
	background-image:url(../images/road.jpg);
	position:absolute;
	left:0;
	right:0;
	z-index:1;
	overflow:hidden;
	background-repeat:repeat-x;
	animation:highway 5s linear infinite;
}
@keyframes highway{
	
	100%{
		transform:translatex(-3400px);
	}
}

@media(min-width:0px )and (max-width:575px){
	.logo1 h4{
		font-size:23px;
	}
	.logo1 p{
		font-size:12px;
	}
	.logo1 button{
		font-size:12px;
	}
	.h-title{
		font-size:25px;
	}
	.sm-villa{
		font-size:23px;
	}
	.sm-987-circle{
		font-size:13px;
	}
	.sm-con-us-f{
		font-size:13px;
	}
	.sm-p-homeland{
		font-size:15px;
	}
	.sm-btn-homeland{
		font-size:9px;
		margin-top:25px;
	}
	.sm-btn-homeland button{
		font-size:15px;
	}
	.h-title-2 h1{
		font-size:25px;
	}
	.prime-p h1{
		font-size:26px;
	}
	.prime-p p{
		font-size:15px;
	}
	.prime-p button{
		font-size:13px;
	}
	.sm-f-proper{
		font-size:23px;
	}
	.sm-f-agents{
		font-size:23px;
	}
	.sm-v-precy{
		font-size:20px;
	}
	.sm-v-pbb{
		font-size:13px;
	}
	.sm-v-year{
		font-size:15px;
	}
	.sm-slide-titile h2{
		font-size:12px;
	}
	.sm-slide-titile p{
		font-size:12px;
	}
	.sm-slide-btn h2{
		font-size:12px;
	}
	.sm-slide-btn button{
		font-size:8px;	
	}
	.sm-our-services{
		font-size:15px;
	}
	.sm-set-p{
		font-size:13px;
	}
	.i-airbeb{
		text-align:center;
	}
	.i-airbeb i{
		margin-left:40px;
		margin-bottom:20px;
	}
	.sm-lorem1-p{
		font-size:11px;
	}
	.sm-outline-b button{
		font-size:11px;
	}
	.sm-archive-s{
		text-align:center;
	}
	.sm-mb-2 i{
		margin-left:110px;
	}
	.i-follow{
		 justify-content: space-between;
		 padding:0;
	}
	.i-invision{
		justify-content: space-between;
		 padding:0;
	}
	.sm-recent-1{
		text-align:center;
		justify-content:center;
	}
	.i-rss{
		margin-right:40px;
	}
	.i-basketball{
		margin-right:40px;
	}
	.sm-simple-bg{
		font-size:20px;
	}
	.sm-com-his{
		font-size:20px;
		text-align:center;
	}
	.sm-pn-p{
		font-size:12px;
	}
	
}
@media(min-width:576px )and (max-width:767px){
	
}
@media(min-width:768px )and (max-width:991px){
	.sm-slide-titile h2{
		font-size:18px;
	}
	.sm-slide-titile p{
		font-size:18px;
	}
	.sm-slide-btn h2{
		font-size:18px;
	}
	.sm-slide-btn button{
		font-size:13px;	
	}
	.sm-our-services{
		font-size:18px;
	}
	.i-airbeb{
		text-align:center;
	}
	.i-follow{
		justify-content: space-between;
	}
	.i-invision{
		justify-content: space-between;
	}
	.i-rss{
		margin-right:150px;
	}
	.i-basketball{
		margin-right:150px;
	}
	.sm-recent-1{
		text-align:center;
		justify-content:center;
	}
	.sm-archive-s{
		text-align:center;
	}
	.sm-mb-2 i{
		margin-left:260px;
	}
	.sm-com-his{
		text-align:center;
	}
	.i-airbeb i{
		margin-left:60px;
		margin-bottom:20px;
	}
	
	
}
@media(min-width:992px )and (max-width:1199px){
	.sm-slide-titile h2{
		font-size:22px;
	}
	.sm-slide-titile p{
		font-size:22px;
	}
	.sm-slide-btn h2{
		font-size:22px;
	}
	.sm-slide-btn button{
		font-size:17px;	
	}
	.sm-our-services{
		font-size:24px;
	}
	
}